* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    background-color: #1E40AF;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: black;
    padding: 10px;
}

.image {
    width: 100%;
    border-radius: 6px;
    margin: 0 0 15px 0;
}

.warning {
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
}
.one_thousand {
    font-weight: bold;
}

.text {
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    line-height: 1.5;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.checkbox-label {
    font-size: 16px;
    color: #1E40AF;
    font-weight: bold;
}

.btn {
    background-color: #1E40AF;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #3958bd;
    cursor: not-allowed;
}